body {
  display: flex;
  // background: lighten(grey, 40%);
  background: black;
  align-items: center;
}
main {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

#launch {
  color: white;
  align-items: center;
  left: 0%;
  top: 70%;
  font-size: 40px;
}
.bar {
  height: 10px;
  background-color: white;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 25px;
}

#ball {
  display: inline-block;
  position: absolute;
  left: 5%;
  background-color: white;
  width: 20px;
  height: 20px;
  align-items: center;
  border-radius: 100px;


}

.score {
  display: inline-block;
  position: absolute;
  left: 7%;
  top: 70%;
  // border: solid black;
  width: 150px;
  height: 20px;
  text-align: center;
  font-size: 100px;
  color: white;
}

.shotClock {
  display: inline-block;
  position: absolute;
  left: 7%;
  top: 10%;
  // border: solid black;
  width: 150px;
  height: 20px;
  text-align: center;
  font-size: 200px;
  color: white;

}
.playAgain {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 100px;
  color: white;
  left: 40%;
  align-items: center;
  text-align: center;
  font-size: 70px;
  display: none;
}

.box {
  position: absolute;
  border: solid white;
  border-width: 0px 15px 0px 0;
  width: 10px;
  height: 150px;
  left: 50%;
  animation: MoveUpDown 4s linear infinite;
}

.target {
  display: inline-block;
  position:absolute;
  // border: 1px solid lighten(grey, 40%);
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.5px;
  background-color: red;
}


@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 700px;
  }
  100% {
    bottom: 0;
  }
}
